@page
@model WebApplication1.Pages.Callback

<dl>
    <div>
        <dt>Code</dt>
        <dd>@Model.Code</dd>
    </div>
    <div>
        <dt>State</dt>
        <dd>@Model.State</dd>
    </div>
    <div>
        <dt>Token</dt>
        <dd>@Model.AccessToken</dd>
    </div>
    <div>
        <dt>Token Type</dt>
        <dd>@Model.TokenType</dd>
    </div>
</dl>